### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Import Modules
import os
import pandas as pd

#Find Current Path & List of Files/Folders in Current Path
current_path = os.getcwd()
current_directory = os.listdir()

#Loop Through List of Files/Folders in Current Path
for item in current_directory:
    
    #Set Condtion for Folder Containing School District Data
    if item.lower().find('school') >= 0 and item.lower().find('ipynb') == -1:

        #Loop Through List of Files/Folders in School District Data Folder
        for data in os.listdir(os.path.join(current_path, item)):
            
            #Set Condition for School Data CSV File
            if data.lower().find('school') >= 0 and data.lower().find('csv') >= 0:

                #Define Path Variable for School Data CSV File
                school_input = os.path.join(current_path, item, data)
                
            #Set Condition for Student Data CSV File
            elif data.lower().find('student') >= 0 and data.lower().find('csv') >= 0:

                #Define Path Variable for School Data CSV File
                student_input = os.path.join(current_path, item, data)

#Read School & Student CSV Files into Pandas Data Frames
school_data = pd.read_csv(school_input)
student_data = pd.read_csv(student_input)

#Merge School & Student Data Frames into Combined Data Frame
school_student_combined = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#Display Merged Data Frame
school_student_combined

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate Total Number of Schools
total_schools = school_student_combined['school_name'].nunique()

#Caclculate Total Number of Students
total_students = school_student_combined['school_name'].count()

#Find Budgets for Each School & Calculate Total Budget
unique_budgets = school_student_combined['budget'].unique()

total_budget = unique_budgets.sum()

#Calculate Average Math & Reading Scores
math_avg = school_student_combined['math_score'].mean()
read_avg = school_student_combined['reading_score'].mean()

#Calculate Student Percentage Passing Math & Reading
math_pass = school_student_combined[school_student_combined['math_score'] >= 70]
read_pass = school_student_combined[school_student_combined['reading_score'] >= 70]

math_pct = ((math_pass['math_score'].count()) / total_students) * 100
read_pct = ((read_pass['reading_score'].count()) / total_students) * 100

#Calculate Overall Student Percentage Passing
overall_pass = (math_pct + read_pct) / 2

#Create Data Frame to Display District Summary
district_summary = pd.DataFrame({'Total Schools': [total_schools], 'Total Students': [format(total_students, ',d')],
                                 'Total Budget ($)': [round(total_budget, 2)],
                                 'Average Math Score': [round(math_avg, 3)],
                                 'Average Reading Score': [round(read_avg, 3)],
                                 '% Passing Math': [round(math_pct, 3)], '% Passing Reading': [round(read_pct, 3)],
                                 '% Overall Passing Rate': [round(overall_pass, 3)]})

#Display District Summary Data
district_summary

,Total Schools,Total Students,Total Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170",24649428,78.985,81.878,74.981,85.805,80.393

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [3]:
#Split Combined Data Frame into Groups by School Name
school_groups = school_student_combined.groupby('school_name')

#Create Data Frame to Display School Summary
school_summary = pd.DataFrame({'School Type': [], 'Total Students': [], 'Total Budget': [], 'Per Student Budget': [],
                               'Average Math Score': [], 'Average Reading Score': [], '% Passing Math': [],
                               '% Passing Reading': [], '% Overall Passing Rate': []})

#Initialize Variables for School Metric Data
school_name = []
school_type = []
total_students = []
total_budget = []
student_budget = []
math_avg = []
read_avg = []
math_pct = []
read_pct = []
overall_pass = []

#Loop Through Key-Value Pairs for School Names & Associated Data Groups
for group_name, group_data in school_groups:
    
    #Assign School Name to Variable
    school_name.append(group_name)
    
    #Find School Type
    school_class = group_data['type'].unique()
    
    school_type.append(school_class[-1])
    
    #Calculate Total Students
    total_students.append(group_data['school_name'].count())
    
    #Find Total School Budget
    budget_amount = group_data['budget'].unique()
    
    total_budget.append(budget_amount[-1])
    
    #Calculate Budget Per Student
    student_budget.append(total_budget[-1] / total_students[-1])
    
    #Calculate Average Math & Reading Scores
    math_avg.append(group_data['math_score'].mean())
    read_avg.append(group_data['reading_score'].mean())
    
    #Calculate Student Percentage Passing Math & Reading
    math_pass = group_data[group_data['math_score'] >= 70]
    read_pass = group_data[group_data['reading_score'] >= 70]

    math_pct.append(((math_pass['math_score'].count()) / total_students[-1]) * 100)
    read_pct.append(((read_pass['reading_score'].count()) / total_students[-1]) * 100)
    
    #Calculate Overall Student Percentage Passing
    overall_pass.append((math_pct[-1] + read_pct[-1]) / 2)
    
#Append Individual School Data to School Summary Data Frame
school_summary = pd.DataFrame({'School Type': school_type, 'Total Students': [format(item, ',d') for item in total_students],
                               'Total Budget ($)': [round(item, 2) for item in total_budget],
                               'Per Student Budget ($)': [round(item, 2) for item in student_budget],
                               'Average Math Score': [round(item, 3) for item in math_avg],
                               'Average Reading Score': [round(item, 3) for item in read_avg],
                               '% Passing Math': [round(item, 3) for item in math_pct],
                               '% Passing Reading': [round(item, 3) for item in read_pct],
                               '% Overall Passing Rate': [round(item, 3) for item in overall_pass]}, school_name)

#Sort School Summary Data Frames by Schools with Best Overall Passing Rate
best_schools = school_summary.sort_values('% Overall Passing Rate', ascending = False)

#Display Top 5 Schools with Best Overall Passing Rate
best_schools.head()

,School Type,Total Students,Total Budget ($),Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,"1,858",1081356,582.0,83.062,83.976,94.133,97.040,95.587
Thomas High School,Charter,"1,635",1043130,638.0,83.418,83.849,93.272,97.309,95.291
Pena High School,Charter,962,585858,609.0,83.840,84.045,94.595,95.946,95.270
Griffin High School,Charter,"1,468",917500,625.0,83.351,83.817,93.392,97.139,95.266
Wilson High School,Charter,"2,283",1319574,578.0,83.274,83.989,93.868,96.540,95.204

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [4]:
#Sort School Summary Data Frames by Schools with Worst Overall Passing Rate
worst_schools = school_summary.sort_values('% Overall Passing Rate', ascending = True)

#Display Top 5 Schools with Worst Overall Passing Rate
worst_schools.head()

,School Type,Total Students,Total Budget ($),Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,"3,999",2547363,637.0,76.843,80.745,66.367,80.220,73.293
Figueroa High School,District,"2,949",1884411,639.0,76.712,81.158,65.988,80.739,73.364
Huang High School,District,"2,917",1910635,655.0,76.629,81.183,65.684,81.316,73.500
Johnson High School,District,"4,761",3094650,650.0,77.072,80.966,66.058,81.222,73.640
Ford High School,District,"2,739",1763916,644.0,77.103,80.746,68.310,79.299,73.804

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [5]:
#Split Combined Data Frame into Groups by Grade Level
grade_groups = school_student_combined.groupby('grade')

#Create Data Frame to Display Average Math Score Summary
math_summary = pd.DataFrame({'9th Grade': [], '10th Grade': [], '11th Grade': [], '12th Grade': []})

#Initialize Variables for Math Score Metric Data
school_names = []
ninth_scores = []
tenth_scores = []
eleventh_scores = []
twelvth_scores = []

#Loop Through Key-Value Pairs for Grade Levels & Associated Data Groups
for grade_name, grade_data in grade_groups:
    
    #Split Grade Groups into Groups by School Name
    school_groups = grade_data.groupby('school_name')
    
    #Set Conditional Statements for Each Grade Level
    if grade_name == '9th':
        
        #Loop Through School Groups for 9th Grade Data
        for school_name, school_data in school_groups:
            
            #Create List of School Names
            school_names.append(school_name)
            
            #Extract & Average 9th Grade Math Scores & Add to 9th Grade Math Scores List
            ninth_scores.append(school_data['math_score'].mean())
    elif grade_name == '10th':
        
        #Loop Through School Groups for 10th Grade Data
        for school_name, school_data in school_groups:
            
            #Extract & Average 10th Grade Math Scores & Add to 10th Grade Math Scores List
            tenth_scores.append(school_data['math_score'].mean())
    elif grade_name == '11th':
        
        #Loop Through School Groups for 11th Grade Data
        for school_name, school_data in school_groups:
            
            #Extract & Average 11th Grade Math Scores & Add to 11th Grade Math Scores List
            eleventh_scores.append(school_data['math_score'].mean())
    elif grade_name == '12th':
        
        #Loop Through School Groups for 12th Grade Data
        for school_name, school_data in school_groups:
            
            #Extract & Average 12th Grade Math Scores & Add to 12th Grade Math Scores List
            twelvth_scores.append(school_data['math_score'].mean())
        
#Append Individual Grade Math Scores Data to Average Math Score Summary Data Frame
math_summary = pd.DataFrame({'9th Grade': [round(item, 3) for item in ninth_scores],
                             '10th Scores': [round(item, 3) for item in tenth_scores],
                             '11th Grade': [round(item, 3) for item in eleventh_scores],
                             '12th Grade': [round(item, 3) for item in twelvth_scores]}, school_names)

#Display Average Math Scores for Each School
math_summary

                       9th Grade  10th Scores  11th Grade  12th Grade
Bailey High School        77.084       76.997      77.516      76.492
Cabrera High School       83.095       83.155      82.766      83.277
Figueroa High School      76.403       76.540      76.884      77.151
Ford High School          77.361       77.672      76.918      76.180
Griffin High School       82.044       84.229      83.842      83.356
Hernandez High School     77.438       77.337      77.136      77.187
Holden High School        83.787       83.430      85.000      82.855
Huang High School         77.027       75.909      76.447      77.226
Johnson High School       77.188       76.691      77.492      76.863
Pena High School          83.625       83.372      84.328      84.122
Rodriguez High School     76.860       76.612      76.396      77.691
Shelton High School       83.421       82.917      83.383      83.779
Thomas High School        83.590       83.088      83.499      83.497
Wilson High School        83.086       83.724      83.195      83.036
Wright High School        83.265       84.010      83.837      83.645

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [6]:
#Create Data Frame to Display Average Reading Score Summary
read_summary = pd.DataFrame({'9th Grade': [], '10th Grade': [], '11th Grade': [], '12th Grade': []})

#Initialize Variables for Reading Score Metric Data
school_names = []
ninth_scores = []
tenth_scores = []
eleventh_scores = []
twelvth_scores = []

#Loop Through Key-Value Pairs for Grade Levels & Associated Data Groups
for grade_name, grade_data in grade_groups:
    
    #Split Grade Groups into Groups by School Name
    school_groups = grade_data.groupby('school_name')
    
    #Set Conditional Statements for Each Grade Level
    if grade_name == '9th':
        
        #Loop Through School Groups for 9th Grade Data
        for school_name, school_data in school_groups:
            
            #Create List of School Names
            school_names.append(school_name)
            
            #Extract & Average 9th Grade Reading Scores & Add to 9th Grade Reading Scores List
            ninth_scores.append(school_data['reading_score'].mean())
    elif grade_name == '10th':
        
        #Loop Through School Groups for 10th Grade Data
        for school_name, school_data in school_groups:
            
            #Extract & Average 10th Grade Reading Scores & Add to 10th Grade Reading Scores List
            tenth_scores.append(school_data['reading_score'].mean())
    elif grade_name == '11th':
        
        #Loop Through School Groups for 11th Grade Data
        for school_name, school_data in school_groups:
            
            #Extract & Average 11th Grade Reading Scores & Add to 11th Grade Reading Scores List
            eleventh_scores.append(school_data['reading_score'].mean())
    elif grade_name == '12th':
        
        #Loop Through School Groups for 12th Grade Data
        for school_name, school_data in school_groups:
            
            #Extract & Average 12th Grade Reading Scores & Add to 12th Grade Reading Scores List
            twelvth_scores.append(school_data['reading_score'].mean())
        
#Append Individual Grade Reading Scores Data to Average Reading Score Summary Data Frame
read_summary = pd.DataFrame({'9th Grade': [round(item, 3) for item in ninth_scores],
                             '10th Scores': [round(item, 3) for item in tenth_scores],
                             '11th Grade': [round(item, 3) for item in eleventh_scores],
                             '12th Grade': [round(item, 3) for item in twelvth_scores]}, school_names)

#Display Average Reading Scores for Each School
read_summary

                       9th Grade  10th Scores  11th Grade  12th Grade
Bailey High School        81.303       80.907      80.946      80.912
Cabrera High School       83.676       84.253      83.788      84.288
Figueroa High School      81.199       81.409      80.640      81.385
Ford High School          80.633       81.263      80.404      80.662
Griffin High School       83.369       83.707      84.288      84.014
Hernandez High School     80.867       80.660      81.396      80.857
Holden High School        83.677       83.325      83.816      84.699
Huang High School         81.290       81.512      81.417      80.306
Johnson High School       81.261       80.773      80.616      81.228
Pena High School          83.807       83.612      84.336      84.591
Rodriguez High School     80.993       80.630      80.865      80.376
Shelton High School       84.123       83.442      84.374      82.782
Thomas High School        83.729       84.254      83.586      83.831
Wilson High School        83.940       84.021      83.765      84.318
Wright High School        83.833       83.813      84.156      84.073

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
#Set Bins for School Budget Per Student Ranges
spending_bins = [0, 585, 615, 645, 675]
spending_ranges = ['<$585', '$585-615', '$615-645', '$645-675']

#Cut School Summary Data Frame & Add Column for School Budget Per Student Ranges
school_summary['Per Student Spending Range ($)'] = pd.cut(school_summary['Per Student Budget ($)'], bins = spending_bins, labels = spending_ranges)

#Split School Summary Data Frame into Groups by School Budget Per Student Range
spending_groups = school_summary.groupby('Per Student Spending Range ($)')

#Create Data Frame to Display School Budget Per Student Range Summary
budget_summary = pd.DataFrame({'Average Math Score': [], 'Average Reading Score': [], '% Passing Math': [],
                             '% Passing Reading': [], '% Overall Passing Rate': []})

#Initialize Variables for School Budget Per Student Range Metric Data
math_avg = []
read_avg = []
math_pct = []
read_pct = []
overall_pass = []

#Loop Through Key-Value Pairs for School Budget Per Student Ranges & Associated Data Groups
for range_name, range_group in spending_groups:
    
    #Calculate Average Math Scores & Append to List
    math_avg.append(range_group['Average Math Score'].mean())
    
    #Calculate Average Reading Scores & Append to List
    read_avg.append(range_group['Average Reading Score'].mean())
    
    #Calculate Percent Passing Math & Append to List
    math_pct.append(range_group['% Passing Math'].mean())
    
    #Calculate Percent Passing Reading & Append to List
    read_pct.append(range_group['% Passing Reading'].mean())
    
    #Calculate Percent Overall Passing Rate & Append to List
    overall_pass.append(range_group['% Overall Passing Rate'].mean())
    
#Append Individual School Budget Per Student Average Range Data to School Budget Per Student Summary Data Frame
budget_summary = pd.DataFrame({'Average Math Score': [round(item, 3) for item in math_avg],
                               'Average Reading Score': [round(item, 3) for item in read_avg],
                               '% Passing Math': [round(item, 3) for item in math_pct],
                               '% Passing Reading': [round(item, 3) for item in read_pct],
                               '% Overall Passing Rate': [round(item, 3) for item in overall_pass]}, spending_ranges)

#Display Summary Data for School Per Student Budget Ranges
budget_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
<$585,83.455,83.934,93.460,96.611,95.035
$585-615,83.600,83.886,94.231,95.900,95.066
$615-645,79.079,81.891,75.668,86.106,80.888
$645-675,76.997,81.028,66.165,81.134,73.649

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
#Set Bins for School Size Ranges
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.